.countdown {
	display: flex;
	gap: 16px;
	justify-content: center;
	align-items: center;
	margin: 16px 0;
}

.countdown-settings {
	.components-datetime__time-field-hours-input,
	.components-datetime__time-field-day {
		margin-bottom: 0 !important;
	}
}

.countdown-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 16px;
	min-width: 80px;
	text-align: center;
	font-family: Arial, sans-serif;
	@media screen and ( max-width: 780px ) {
		min-width: 10vw;
	}
}

.countdown-end-message {
	text-align: center;
	font-size: 18px;
	color: #888;
	margin-top: 20px;
}
